{% extends 'partypost_list_base.html' %}
{% load static %}
{% block title %}動作確認{% endblock title %} <!-- サイトのタイトルに表示する文字 -->
{% block add_header %}{% endblock add_header %} <!-- headerに追加したい内容（cssなど） -->
{% block h1 %}動作確認h1{% endblock h1 %} <!-- サイトの一番上にh1で表示したいもの -->
{% block content_before_partypost %}before要素{% endblock content_before_partypost %} <!-- 投稿一覧ブロックの前に表示したい内容 -->
{% block content_after_partypost %}after要素{% endblock content_after_partypost %} <!-- 投稿一覧ブロックの後に表示したい内容 -->

<!--

-->